<%= form_for(@task) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :text %><br>
    <%= f.text_field :text %>
  </div>
  <div class="field">
    <%= f.label :archive %><br>
    <%= f.check_box :archive %>
  </div>
  <div class="field">
    <%= f.label :due %><br>
    <%= f.datetime_select :due %>
  </div>
  <div class="field">
    <%= f.label :projectId %><br>
    <%= f.number_field :projectId %>
  </div>
  <div class="field">
    <%= f.label :messages %><br>
    <%= f.text_field :messages %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
